/*  {
    margin: 0px;
}
body {
    background-color: black;
    color: darkslateblue ;
}

#root {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#card {
    background-size: cover;
    font-size: 40px;
    box-shadow: 0 4px 8px 2px rgba(222, 25, 25, 5);
    transition: 0.3s;
    width: 30vw;
    height: 80vh;
    text-align: center;
    background-size: 100% 2em; /* .08em is our fixed height; modify as needed. 
    background-repeat: no-repeat;
    transition: background-size .7s, background-position .7s .7s;
}

#card:hover {
    box-shadow: 0px 20px 20px 10px rgb(193, 22, 22);
    transition: background-size .7s .7s, background-position .7s;
    background-size: 100% 100%;
}

#navigation-bar {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: darkslateblue;
    line-height: 8rem;
} */

/* #navigationbar>a {
    text-decoration: none;
} */


* {
    margin: 0px;
 }
 body {
    background-color: black;
    color: darkslateblue ;
 }
 
 #header {
    position:sticky;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    background-color: white;
     font-family: "Raleway";
 }
 
 #background-image{
     position: absolute;
     top: -150px;
     width: 100%;
     z-index: 0;
     opacity: 70%;
 }

 #pizza {
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    border: 2px solid white;
    transition: 0.3s;
    text-align: center;
    border-radius: 15px;
    gap: 30px;
    background-size: 100% 2em;
    background-repeat: no-repeat;
    transition: background-size .7s, background-position .7s .7s;
    z-index: 1;
     color: white;
     background-color:#00000030 ;
     padding: 20px;
 }
 
 #pizza-name {
     font-weight: 700;
     font-size: 50px;
 }
 
 #pizza:hover {
    box-shadow: 0px 0px 6px 6px white;
    transition: background-size .7s .7s, background-position .7s;
    background-size: 100% 100%;
 }

 #order-button {
    background-color: rgb(55, 54, 54);
    color:white;
 }
 
button {
    bottom: 0px;
}

#order-link {
    text-decoration: none;
    color: white;
}

 /* #navigationbar>a {
    text-decoration: none;
 }