<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/frontend/style.css" defer>
    <!-- <script src="/backend/pizzas.json" defer></script> -->
    <script src="/frontend/script.js" type="module" defer></script> 
    <title>Document</title>
</head>
<body>

    <div id="root"></div>
    <!-- <div id="navigation-bar"> -->
        <nav id="navigation-bar">
            <a href="#">
                <span id="pizza-name">Pizzas</span>
            </a>
        </nav>
    <!-- </div> -->

    <div id="card">
        <div class="container">
            <h4 id="pizza-name">Tonno</h4>
            <h6 id="ingredients">                
                tuna,
                cheese,<br> 
                garlic,
                olives,<br>
                onions,
                oregano,<br>
                tomtato sauce 
            </h6>
            <h4>Price: 13$</h4>
            <h6>A, C, D, G</h6>
        </div>
        <img src="">
    </div>

</body>
</html>